*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    width: 65%;
    margin: auto;
}

.img-container{
    display: none;
}

#prev{
    color: white;
    position: absolute;
    top: 17rem;
    left: 0%;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: 0.6s ease;
    font-size: 1rem;
}

#next{
    color: white;
    position: absolute;
    top: 17rem;
    right: 0%;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: 0.6s ease;
    font-size: 1rem;
}

#prev:hover, #next:hover{
    background-color: rgb(0, 0, 0, 0.4);
}

.dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 8px;
}

.dot{
    height: 0.8rem;
    width: 0.8rem;
    background-color: rgb(188, 185, 185);
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active{
    background-color: rgb(55, 55, 55);
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to {opacity: 1}
}

@media (max-width: 768px){
    .container{
        width:  80%;
    }
    #prev{
        top: 12rem;
    }
    #next{
        top: 12rem;
    }
}

@media (max-width: 468px){
    .container{
        width:  90%;
        margin-top: 5rem;
    }
    #prev{
        top: 7rem;
    }
    #next{
        top: 7rem;
    }
}